<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face
        {
            font-family: myFirstFont;
             src: url(/static/font/qf.ttf);
        }

        div
        {
         font-family:myFirstFont;
        }
        .main{text-align: center;margin: 0 auto}
        a{text-decoration:none}
        .btn{height: 60px;width: 20%;  margin: 0 auto;text-align: center}
    </style>
</head>
<body>

<div class="main">
    <div class="btn" style="margin-top: 200px;">
       <a href="/home/index" style="font-size: 35px;color: black">吴氏家谱</a>
    </div>

    <div class="btn" style="margin-top: 30px;">
        <a href="/home/login" style="font-size: 35px;color: black">管理登陆</a>

    </div>

</div>

</body>
</html>